#home {
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

#imgHome {
    -webkit-animation: flip-in-hor-bottom .5s cubic-bezier(.25, .46, .45, .94) both;
    animation: flip-in-hor-bottom .5s cubic-bezier(.25, .46, .45, .94) both
}

#h1home {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-animation: tracking-in-contract .9s cubic-bezier(.215, .61, .355, 1.000) both;
    animation: tracking-in-contract .9s cubic-bezier(.215, .61, .355, 1.000) both
}

#encabezado {
    background-color: white;
}

#encabezado>p {
    color: white;
    letter-spacing: 2px;
}

.jumbotron2 {
    width: 50%;
    margin: auto;
}

.jumbotron2>p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#piepag {
    height: 200px;
    background-image: url("/imagenes/colmillo.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#piepag>button {
    width: 200px;
    margin-top: 80px;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes neon2 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgb(255, 122, 34), 0 0 70px, rgb(255, 122, 34) 0 0 80px rgb(255, 122, 34), 0 0 100px rgb(255, 122, 34), 0 0 150px rgb(255, 122, 34);
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
}


/*keyframe imagenes*/

@-webkit-keyframes flip-in-hor-bottom {
    0% {
        -webkit-transform: rotateX(80deg);
        transform: rotateX(80deg);
        opacity: 0
    }
    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1
    }
}

@keyframes flip-in-hor-bottom {
    0% {
        -webkit-transform: rotateX(80deg);
        transform: rotateX(80deg);
        opacity: 0
    }
    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 1
    }
}


/*keyframe titulo*/

@-webkit-keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0
    }
    40% {
        opacity: .6
    }
    100% {
        letter-spacing: normal;
        opacity: 1
    }
}

@keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0
    }
    40% {
        opacity: .6
    }
    100% {
        letter-spacing: normal;
        opacity: 1
    }
}